name = "flayve"
compatibility_date = "2024-01-01"
pages_build_output_dir = "dist"

[vars]
ENVIRONMENT = "production"

[[d1_databases]]
binding = "DB"
database_name = "flayve-db-prod"
database_id = "cfb2a716-30c9-4b74-a04b-7f6386f1f795"

[[r2_buckets]]
binding = "R2"
bucket_name = "flayve-assets"