name = "flayve"
compatibility_date = "2024-01-01"
pages_build_output_dir = "dist"

[vars]
ENVIRONMENT = "production"

[[d1_databases]]
binding = "DB"
database_name = "webapp-production"
database_id = "b6e327ad-e5d2-4d9c-bdff-2ce790d8933f"

[[r2_buckets]]
binding = "R2"
bucket_name = "flayve-assets"